@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap'); /* Imports Belleza Font*/

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px; /* Add margin to create space between logo and other elements */
}

.App-header {
  background-color: #cfc5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8f4ca8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nice-button {
  background-color: #8f4ca8; /* Violet color */
  color: #FFFFFF; /* White text */
  padding: 10px 20px; /* Adjust padding for the button */
  font-size: 16px; /* Adjust font size */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.nice-button:hover {
  background-color: #673679; /* Darker violet on hover */
}

.app-container {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

.violet-horizontal-bar {
  background-color: #b8b2e8;
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Spread out the buttons evenly */
  align-items: center; /* Align items vertically */
  height: 100px;
  width: 100%;
}

.how-to-use-button,
.about-button,
.contact-us-button {
  background-color: #78578a; /* Violet color */
  color: #FFFFFF; /* White text */
  padding: 10px 20px; /* Adjust padding for the button */
  font-size: 16px; /* Adjust font size */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.how-to-use-button:hover,
.about-button:hover,
.contact-us-button:hover {
  background-color: #673679; /* Darker violet on hover */
}

.translate-left {
  transform: translateX(-100%); /* Translate the element 100% to the left */
  transition: transform 0.6s ease-in; /* Apply a transition effect */
}

.translate-right {
  transform: translateX(0%);
  transition: transform 0.6s ease-in;
}

.about-text {
  color:#000000;
  position: absolute; /* Position the text absolutely */
  top: 65%; /* Align the top of the text to the vertical center */
  right: 20px; /* Adjust the distance from the right edge */
  transform: translateY(-50%); /* Adjust the vertical alignment to center */
  text-align: center; /* Align text to the right */
  font-family: 'Belleza', sans-serif; /* Use Belleza font */
  max-width: 40%;
  opacity: 0; /* Initially hide the text */
  animation: fade-in 1s ease forwards; /* Apply fade-in animation */
}

@keyframes fade-in {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-50%) translateX(20px); /* Move slightly to the right */
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(-50%); /* Move back to original position */
  }
}
