/* src/components/FileUpload.css */

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust margin for space between button and file upload */
  }
  
  .file-upload-label {
    display: inline-block;
    cursor: pointer;
  }
  
  .file-upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #8f4ca8;
    border-radius: 10px;
    padding: 20px;
    width: 200px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    transition: border-color 0.3s ease; /* Smooth border color transition on hover */
  }
  
  .file-upload-box:hover {
    border-color: #673679; /* Darker blue on hover */
  }
  
  .file-upload-text {
    font-size: 16px;
  }
  
  .file-upload-input {
    display: none;
  }
  
  .nice-button {
    background-color: #78578a; /* Violet color */
    color: #FFFFFF; /* White text */
    padding: 10px 20px; /* Adjust padding for the button */
    font-size: 16px; /* Adjust font size */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    margin-top: 10px; /* Adjust margin for space between button and file upload */
  }
  
  .nice-button:hover {
    background-color: #673679; /* Darker violet on hover */
  }
  
  .file-upload-preview {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  